@import '../../quill.snow.css';

.product_wrapper{
    display: flex;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #e5e5e5;
}

.product_info{
    width: 695px;
    .product_title{
        margin-bottom: 5px;
    }
}

.product_img{
    height: 270px;
    min-width: 180px;
    max-width: 200px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    overflow: hidden;
    align-items: center;
}

.product_content{
    display: flex;
    justify-content: space-between;
    .product_description{
        width: 470px;
    }
}


.product_interface{
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    p{
        color: #000;
        font-weight: 700;
        font-size: 1rem;
        text-wrap: nowrap;
    }
    .product_rating{
        width: 100px;
        img{
            width: 100%;
        }
    }
}

.buttons{
    display: flex;

    .btn-share{
        padding-right: 50px;
    }
}


.product_likes{
    display: flex;
    .trans-like{
        cursor: pointer;
        width: 24px;
        height: 24px;
    }
    .red-like{
        cursor: pointer;
        width: 23px;
        height: 23px;
    }
    span{
        font-size: 14px;
        padding-top: 7px;
    }
}




